# directories
dist/*
node_modules/*
logs/*

# config files
*.env
*.toml

# databases
*.db
*.sqlite

# log files
.log

# bot assets folders - do not ignore specific important files
!src/assets/**/schemas/*.json
!src/assets/**/templates/default_config.toml