# directories
node_modules/*
logs/*

# config files
*.env
*.toml

# databases
*.db
*.sqlite

# log files
.log

# bot assets folders - do not ignore specific important files
!lib/assets/**/schemas/*.json
!lib/assets/**/templates/default_config.toml